.navbar{
    display: flex;
    background-color: aqua;
}
.items{
    justify-content: space-between;
}
.items>li{
    background-color: blue;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}
.sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}